@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --font-size: 16px;
  --font-family: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
}

main {
  height: 98vh;
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
}

.body-container {
  width: 51.875rem;
  background-image: url("images/bg-pattern-desktop.svg");
  background-color: hsla(0, 100%, 98%, 0.650);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4.0625rem 3.125rem 0 10.3125rem;
}

.hero-desktop  {
  width: 38.125rem;
  background-image: url("images/hero-desktop.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}

.hero-mobile  {
  height: 15.625rem;
  background-image: url("images/hero-mobile.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
}

.text-container {
  width: 27.875rem;
  margin-top: 7.6875rem;
}

.title {
  font-size: 3.9813rem;
  text-transform: uppercase;
  letter-spacing: 1.125rem;
  color: var(--dark-grayish-red);
  margin: 0rem 0 1.375rem 0;
  line-height: 1.125em;
}

.were-word {
  font-weight: 300;
  letter-spacing: 1.0625rem;
  font-size: 4.05rem; 
  color: var(--desaturated-red);
}

.description {
  color: var(--desaturated-red); 
  line-height: 1.75em;
  margin-bottom: 2.375rem;
  font-size: 0.9938rem;
}

form {
  position: relative;
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  height: 3.5rem;
  z-index: 0;
}

input {
  width: 100%;
  height: 100%;
  border-radius: 1.875rem;
  position: relative;
  z-index: -1;
  font-family: var(--font-family);
  padding-left: 32px;
  border: 1px solid var(--desaturated-red);
  font-size: 15.7px;
  color: var(--dark-grayish-red);
  background-color: transparent;
}

input::placeholder {
  font-size: 1rem;
  color: var(--desaturated-red);
}

input.invalid {
  border: 2px solid var(--soft-red);
}

input:focus {
  outline: none;
} 

input:focus.valid {
  outline: none;
}  

.icon-error {
  position: absolute;
  bottom: 1.0313rem;
  right: 7.4375rem;
  display: none;
}

.error {
  margin: 0.625rem 0 0 2rem;
  font-size: 0.825rem; 
  color: var(--soft-red);
  display: block;
}

button {
  border: none;
  width: 102px;
  height: 100%;
  border-radius: 1.875rem;
  position: absolute;
  z-index: 3;
  right: 0;
  left: 77.5%;
  top: 0px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
  box-shadow: -5px 15px 50px var(--desaturated-red);
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
 cursor: pointer;
 background: linear-gradient(125deg, hsl(25, 95%, 85%) 0%, hsl(22, 96%, 80%) 100%);
 box-shadow: -0.3125rem 0.9375rem 1.875rem var(--desaturated-red);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }